:root {
  --color-one: #264653;
  --color-two: #2a9d8f;
  --color-three: #e9c46a;
  --color-four: #f4a261;
  --color-five: #e76f51;
  --color-six: #f6fff8;
  --color-seven: #eaf4f4;
  --color-eight: #6b9080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 90px;
  background-color: var(--color-six);
  color: var(--color-one);
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
}

.flex-alignctr {
  display: flex;
  align-items: center;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-spacebtw-ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.logo-s {
  width: 10vmin;
  margin-right: 2.5vmin;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: 2rem;
  width: 12vmin;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--color-two);
  color: var(--color-six);
}

button:hover {
  cursor: pointer;
  background-color: var(--color-four);
}
