:root {
  --color-one: #264653;
  --color-two: #2a9d8f;
  --color-three: #e9c46a;
  --color-four: #f4a261;
  --color-five: #e76f51;
  --color-six: #fefae0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: var(--color-six);
}

#root {
  height: 100%;
}
